* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #E5E5E5;
}

h1{
    font-family: 'Righteous', cursive;
    font-size: 44px;
}

h2 {
    font-family: 'Righteous', cursive;
    font-size: 26px;
}

img {
    width: 144px;
    height: 87px;
    border-radius: 4px;
    margin-bottom: 8px;
    object-fit: fill;
}

.topo {
    height: 92px;
    background-color: #CF2B2B;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0px 18px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
}

.topo p {
    font-size: 18px;
    margin-top: 7px;
}

.conteiner {
    margin-top: 92px;
    margin-bottom: 92px;
    padding-top: 31px;
}

.categoria {
    padding-left: 19px;
}


.barra-itens {
    padding-left: 5px;
    display: flex;
    align-items: center;
    overflow: scroll;
}


.caixa-item {
    width: 172px;
    border-radius: 9px;
    background-color: #FFFFFF;
    padding: 18px 14px 13px 14px;
    margin: 18px 16px 27px 0px;
}

.nome-item {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 7px;
}

.descrição {
    font-size: 15px;
    font-weight: 300;
    color: #A6A6A6;
    margin-bottom: 7px;
}

.preço {
    font-size: 16px;
    font-weight: 400;
}

.base {
    height: 92px;
    background-color: #FFFFFF;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botão {
    width: 360px;
    height: 61px;
    border-radius: 50px;
    background-color: #CBCBCB;
    border: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    overflow-wrap: break-word;
    padding-left: 50px;
    padding-right: 50px;

    font-size: 20px;
    color: #FFFFFF;
    font-weight: 400;
}

.borda-verde {
    box-shadow: 0px 0px 0px 5px #32B72F;
}